body {
  background-color: #aafdff;
  font-size: 20px;
}

div {
  font-family: 'VT323', monospace;
}

#button-area {
  display: flex;
  justify-content: center;
}

.button {
  padding: 15px 25px;
  font-size: 10vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #0cadaf;
  border: none;
  border-radius: 50%;
  margin: 0 auto;
}

.button:hover {
	background-color: #394747;
  transition-duration: 0.5s;
}

#restart-button {
  font-family: 'Bungee Shade', cursive;
  font-size: 1em;
  margin-bottom: 1em;
}

#restart-area {
 display: flex;
 justify-content: center;
 }

#score-card {
  display: flex;
  justify-content: space-between;
  font-size: 1.3em;
}

#score-card > div > i {
  font-size: 2em;
  color: #394747;
}

.player-info {
  padding: 1em;
}

.computer-info {
  padding: 1em;
}

#console {
  border: outset 0.5em #008d8e;
  margin: 2em auto;
  background-color: #394747;
  color: white;
  width: 70%;
  min-height: 10em;
  box-sizing: border-box;
}

#console > div {
  font-size: 1.3em;
  text-align: center;
  padding: 0.3em 0em;
}

#title-area {
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
  background-color: #023838;
  color: #035e5e;
}

#gameover {
  color: red;
}

/* Blinking font */
.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
 body {
  font-size: 18px;
 }

#console {
  min-height: 14em;
}
}