body {
  background-color: white;
}

div {
  font-family: sans-serif;
}

#button-area {
	background-color: blue;
}

.button {
/*  display: inline-block;*/
  padding: 15px 25px;
  font-size: 10vw;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
}

.button:hover {
	background-color: #000000;
  transition-duration: 0.5s;
}

#Rock, #Paper, #Scissors {
 
}

#restart-button {
  font-size: 1em;

}

#restart-area {
  height: 20px;
  width: 20px;
  margin: 0 auto;
}

#score-card {
/*  display: block;*/
  font-size: 2em;
}

.player-info {
  float: left;
  color: ;
}

.computer-info {
  float: right;
  color: ;
}

#console {
  border: solid 1em gray;
  margin: 2em;
  background-color: black;
  color: white;
  height: 300px;
}

#console > div {
  padding: 1em;
}

#current-round {
  font-size: 1.5em;
}

#results {
  font-size: 2em;
}

/* Blinking font */
.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (max-width: 300px) {
  body {
    background-color: blue;
  }
}